<!DOCTYPE html>
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <style>
        #div_id_username{
        display:inline;}
    </style>
</head>
<body>
{% block content %}
{% if user.is_authenticated %}
<meta http-equiv="REFRESH" content="0;url=/"> {% endif %}

<div class="container">
    <div class="jumbotron">
        <form method="post" action="">
            {% csrf_token %}
        <div class="form-row">
        <div class="form-group col-lg-12 mb-0">
            {{ form.username | as_crispy_field }}
        </div>
        </div>
            </form>
    </div>
</div>



{% endblock %}
</body>
</html>